.alert {
  align-self: center;
  text-align: center;
  border: 1px solid red;
  width: 80vw;
  border-radius: 2vh;
  height: 6vh;
  line-height: 3vh;
  color: red;
  background-color: rgba(253, 92, 92, 0.144);
  padding: 2vh;
};
