.container {
  position: absolute;
  top: 25%;
  left: 21%;
  .blue {
    background-color: #419fb9;
    top: 28vh;
    left: 6vh;
    position: absolute;
    content: "";
    border-top: #f7f7f7 5px solid;
    border-right: #f7f7f7 4px solid;
    width: 100px;
    height: 56px;
    border-bottom-left-radius: 110%;
    transform: rotate(34deg);
    border-top-right-radius: 90%;
    animation: blueRotate 1s linear infinite;
  }
  .darkblue {
    background-color: #419fb9;
    top: 33vh;
    left: 5vh;
    position: absolute;
    content: "";
    border: #419fb9 2px solid;
    width: 80px;
    height: 40px;
    border-bottom-left-radius: 94%;
    transform: rotate(0deg);
    border-top-right-radius: 100%;
    z-index: 5;
  }
  .pink {
    top: 28.85vh;
    left: 12.5vh;
    position: absolute;
    content: "";
    background-color: #ff93c7;
    border: #ff93c7 2px solid;
    width: 85px;
    height: 50px;
    border-bottom-left-radius: 100%;
    transform: rotate(80deg);
    border-top-right-radius: 100%;
    z-index: -1;
    animation: pinkRotate 1s linear infinite;
  }
}

@media (min-width: 639px) {
  .container {
    position: absolute;
    top: 30%;
    left: 38%;
    .blue {
      top: 23.5vh;
      left: 8vh;
    }
    .pink {
      top: 25vh;
      left: 19vh;
    }
  }
}

@keyframes blueRotate {
  0% { transform: rotate(34deg);}
  50% { transform: rotate(39deg);}
  100% { transform: rotate(34deg);}
}

@keyframes pinkRotate {
  0% { transform: rotate(77deg);}
  50% { transform: rotate(72deg);}
  100% { transform: rotate(77deg);}
}