.header {
  box-shadow: 0px 1px 10px 3px #00000069;
  .header__svg {
    width: 85vw;
<<<<<<< HEAD
    :hover {
      cursor: pointer;
    }
  }
=======
  };
>>>>>>> 4875d1ab0e7e9d46de53ceca2529b0da6ff8ec10
};

@media (min-width: 639px) {
  .header {
    display: flex;
    justify-content: center;
    .header__svg {
      width: 30vw;
    };
  };
};
